*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.emptyInput{
  width: 59px;
  height: 59px;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  border: 1px solid black;
}
.filledInput {
   width: 59px;
  height: 59px;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  border: 1px solid black;
  background-color: #ccc;
}
.table{
  margin-top: 60px;
  border-collapse: collapse;
}
.button-containner{
  margin-top: 30px;
  justify-content: center;
  display: flex;
  gap: 20px;
}
.button-containner button{
  padding: 10px 20px;
  cursor: pointer;
}
.check-btn{
  border: 1px solid #ccc;
  background-color: rgb(212, 212, 66);
  padding: 5px;
  font-weight: bold;
  border-radius: 8px;
}
.check-btn:hover{
  opacity: 0.8;
}
.reset-btn{
   border: 1px solid #ccc;
  background-color: rgb(219, 37, 31);
  padding: 5px;
  font-weight: bold;
  border-radius: 8px;
  color: white;
}
.reset-btn:hover{
  opacity: 0.8;
}
.solve-btn{
     border: 1px solid #ccc;
  background-color: rgb(41, 212, 18);
  padding: 5px;
  font-weight: bold;
  border-radius: 8px;
}
.solve-btn:hover{
  opacity: 0.8;
}
.bBorder{
  border-bottom: 2px solid rgb(0, 0, 0);
}
.rBorder{
  border-right: 2px solid black;
}